
{% load static %}

<head>
    <style class="vjs-styles-defaults">
        .video-js {
            width: 300px;
            height: 150px;
        }

        .vjs-fluid {
            padding-top: 56.25%
        }
    </style>
{#    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">#}
{#    <meta http-equiv="Content-Language" content="zh-cn">#}
{#    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">#}
    <script src="{% static 'js/push.js' %}"></script>
    <script>
        var domainYY = 'https://yy.vmall.com';
        var domainRush = 'https://buy.vmall.com';
        var domainEdit = 'https://customization.vmall.com';
        var domainMain = 'https://www.vmall.com';
        var domainWap = 'https://m.vmall.com';
        var domainCart = '//cart.vmall.com';
        var domainRemark = '//remark.vmall.com';
        var domainRms = 'https://rms.vmall.com/';
        var domainShoppingConfig = '//addr.vmall.com';
        var imagePath = 'https://res.vmallres.com/20190808/images';
        var domainAccount = '//www.vmall.com';
        var isUseAccount = 'false';
        var upBindPhoneAddr = 'https://hwid1.vmall.com/oauth2/userCenter/bindAccount/bindMobileAccount_1.jsp?lang=zh-cn&amp;themeName=cloudTheme&amp;reqClientType=26';
        var dominWapRecycle = 'https://coop.aihuishou.com/huawei?app=false';
        var domainCds = 'https://cds.vmall.com';
        var domainIps = 'https://cashier.vmall.com/cashier/voucher';
        var scriptPath = 'https://res9.vmallres.com/20190808/js';
        var domainAms = 'https://act.vmall.com';
        var domainUc = 'https://member.vmall.com';
        var openApiDomain = 'https://openapi.vmall.com';
        var timeOutInfo = '服务器开小差了，请稍后再试！';
        var addressFrontRegex = '[A-Za-z0-9０-９ａ-ｚＡ-Ｚ一-龥.?!,。？！，、；：＇＂（）［］｛｝;:&#039;&#034;()\\[\\]{}──·····．《》〈〉＜＞.《》〈〉&lt;&gt;·—＿＿＿＿＊____*□=／\/▲●～~……→＠＃@#￥％＆＊%&amp;*\\\\——－＝＼　 -]{1,}';
        var easeBuyDomain = 'https://easy.vmall.com';
        var scriptPaths = 'https://res10.vmallres.com/20190808/js';
        var dapDomain = 'https://dap.vmall.com';
    </script>
    <title>【【100元订金】荣耀Play3】价格_参数_图片_怎么样 - 华为商城</title>
{#    <meta name="keywords" content="【100元订金】荣耀Play3,【100元订金】荣耀Play3价格,【100元订金】荣耀Play3怎么样,华为商城">#}
{#    <meta name="description" content="【100元订金】荣耀Play3官方渠道售卖！华为商城提供最新款的【100元订金】荣耀Play3的价格、参数、图片等信息。官方品质保证，欢迎选购！">#}
{#    <link rel="shortcut icon" href="https://www.vmall.com/favicon.ico">#}
    <link href="{% static 'css/ec.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'css/main_002.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'detail01_a/a_002' %}" namespace="ec"></script>
    <!--[if lte IE 6]><script>ol.isIE6=true;</script><![endif]--><!--[if IE 7]><script>ol.isIE7=true;</script>
    <![endif]--><!--[if IE 8]><script>ol.isIE8=true;</script><![endif]-->
    <script id="jsapi_loader0" loadtype="insert" type="text/javascript"
            src="{% static 'js/jquery-migrate-1.js' %}"></script>
    <script>(function () {
        var time = 0, el = document.getElementById('jsapi_loader0');
        if (!el || (el.readyState && 'complete' != el.readyState)) {
            if (time < 10) {
                setTimeout(arguments.callee, 30);
                time++;
            } else {
                logger.error('load the script of id jsapi_loader0 fail!');
            }
            return;
        }
        ol._setLoadStatus("base/jquery-migrate-1.4.1.min.js", "complete");
    })();</script>
    <script id="jsapi_loader1" loadtype="insert" type="text/javascript"
            src="{% static 'js/jquery-migrate-3.js' %}"></script>
    <script>(function () {
        var time = 0, el = document.getElementById('jsapi_loader1');
        if (!el || (el.readyState && 'complete' != el.readyState)) {
            if (time < 10) {
                setTimeout(arguments.callee, 30);
                time++;
            } else {
                logger.error('load the script of id jsapi_loader1 fail!');
            }
            return;
        }
        ol._setLoadStatus("base/jquery-migrate-3.0.1.min.js", "complete");
    })();</script>
    <script id="jsapi_loader2" loadtype="insert" type="text/javascript"
            src="{% static 'js/helper.js' %}"></script>
    <script>(function () {
        var time = 0, el = document.getElementById('jsapi_loader2');
        if (!el || (el.readyState && 'complete' != el.readyState)) {
            if (time < 10) {
                setTimeout(arguments.callee, 30);
                time++;
            } else {
                logger.error('load the script of id jsapi_loader2 fail!');
            }
            return;
        }
        ol._setLoadStatus("base/helper.min.js", "complete");
    })();</script>
    <script id="jsapi_loader3" loadtype="insert" type="text/javascript"
            src="{% static 'js/box-min.js' %}"></script>
    <script>(function () {
        var time = 0, el = document.getElementById('jsapi_loader3');
        if (!el || (el.readyState && 'complete' != el.readyState)) {
            if (time < 10) {
                setTimeout(arguments.callee, 30);
                time++;
            } else {
                logger.error('load the script of id jsapi_loader3 fail!');
            }
            return;
        }
        ol._setLoadStatus("ec.box/box-min.js", "complete");
    })();</script>
    <script id="jsapi_loader4" loadtype="insert" type="text/javascript"
            src="{% static 'js/XSSUtils.js' %}"
            charset="utf-8"></script>
    <script>(function () {
        var time = 0, el = document.getElementById('jsapi_loader4');
        if (!el || (el.readyState && 'complete' != el.readyState)) {
            if (time < 10) {
                setTimeout(arguments.callee, 30);
                time++;
            } else {
                logger.error('load the script of id jsapi_loader4 fail!');
            }
            return;
        }
        ol._setLoadStatus("/aes/XSSUtils.min.js", "complete");
    })();</script>
    <script id="jsapi_loader5" loadtype="insert" type="text/javascript"
            src="{% static 'js/esapi.js' %}"
            charset="utf-8"></script>
    <script>(function () {
        var time = 0, el = document.getElementById('jsapi_loader5');
        if (!el || (el.readyState && 'complete' != el.readyState)) {
            if (time < 10) {
                setTimeout(arguments.callee, 30);
                time++;
            } else {
                logger.error('load the script of id jsapi_loader5 fail!');
            }
            return;
        }
        ol._setLoadStatus("/aes/esapi.js", "complete");
    })();</script>
    <script id="jsapi_loader6" loadtype="insert" type="text/javascript"
            src="{% static 'images/Base.js' %}"
            charset="utf-8"></script>
    <script>(function () {
        var time = 0, el = document.getElementById('jsapi_loader6');
        if (!el || (el.readyState && 'complete' != el.readyState)) {
            if (time < 10) {
                setTimeout(arguments.callee, 30);
                time++;
            } else {
                logger.error('load the script of id jsapi_loader6 fail!');
            }
            return;
        }
        ol._setLoadStatus("/aes/resources/Base.esapi.properties.min.js", "complete");
    })();</script>
    <script src="{% static 'detail01_a/a' %}" namespace="ec"></script>
    <script id="jsapi_loader7" loadtype="insert" type="text/javascript" src="{% static 'js/jquery.js' %}"
            charset="utf-8"></script>
    <script>(function () {
        var time = 0, el = document.getElementById('jsapi_loader7');
        if (!el || (el.readyState && 'complete' != el.readyState)) {
            if (time < 10) {
                setTimeout(arguments.callee, 30);
                time++;
            } else {
                logger.error('load the script of id jsapi_loader7 fail!');
            }
            return;
        }
        ol._setLoadStatus("jquery.form", "complete");
    })();</script>
    <script id="jsapi_loader8" loadtype="insert" type="text/javascript"
            src="{% static 'js/ajax.js' %}"
            charset="utf-8"></script>
    <script>(function () {
        var time = 0, el = document.getElementById('jsapi_loader8');
        if (!el || (el.readyState && 'complete' != el.readyState)) {
            if (time < 10) {
                setTimeout(arguments.callee, 30);
                time++;
            } else {
                logger.error('load the script of id jsapi_loader8 fail!');
            }
            return;
        }
        ol._setLoadStatus("ajax", "complete");
    })();</script>
    <script id="jsapi_loader9" loadtype="insert" type="text/javascript"
            src="{% static 'js/cloud-zoom.js' %}"></script>
    <script>(function () {
        var time = 0, el = document.getElementById('jsapi_loader9');
        if (!el || (el.readyState && 'complete' != el.readyState)) {
            if (time < 10) {
                setTimeout(arguments.callee, 30);
                time++;
            } else {
                logger.error('load the script of id jsapi_loader9 fail!');
            }
            return;
        }
        ol._setLoadStatus("cloud-zoom.1.0.2/cloud-zoom.1.0.2-hack-min.js", "complete");
        (function () {
            setTimeout(function () {
                $("#product-img").CloudZoom()
            }, 200)
        })();
    })();</script>
    <script id="jsapi_loader10" loadtype="insert" type="text/javascript"
            src="{% static 'js/fixed.js' %}"></script>
    <script>(function () {
        var time = 0, el = document.getElementById('jsapi_loader10');
        if (!el || (el.readyState && 'complete' != el.readyState)) {
            if (time < 10) {
                setTimeout(arguments.callee, 30);
                time++;
            } else {
                logger.error('load the script of id jsapi_loader10 fail!');
            }
            return;
        }
        ol._setLoadStatus("jquery.fixed/fixed.js", "complete");
        (function () {
            $(function () {
                $("#pro-tab-all").fixed()
            })
        })();
    })();</script>
    <script id="jsapi_loader11" loadtype="insert" type="text/javascript"
            src="{% static 'js/lodash.js' %}"></script>
    <script>(function () {
        var time = 0, el = document.getElementById('jsapi_loader11');
        if (!el || (el.readyState && 'complete' != el.readyState)) {
            if (time < 10) {
                setTimeout(arguments.callee, 30);
                time++;
            } else {
                logger.error('load the script of id jsapi_loader11 fail!');
            }
            return;
        }
        ol._setLoadStatus("https://res9.vmallres.com/20190808/js/common/base/lodash.min.js", "complete");
    })();</script>
    <script id="jsapi_loader12" loadtype="insert" type="text/javascript"
            src="{% static 'js/bigInt.js' %}"></script>
    <script>(function () {
        var time = 0, el = document.getElementById('jsapi_loader12');
        if (!el || (el.readyState && 'complete' != el.readyState)) {
            if (time < 10) {
                setTimeout(arguments.callee, 30);
                time++;
            } else {
                logger.error('load the script of id jsapi_loader12 fail!');
            }
            return;
        }
        ol._setLoadStatus("dh/bigInt.min.js", "complete");
    })();</script>
    <!--[if lt IE 9]><script src="https://res9.vmallres.com/20190808/js/common/html5shiv.js"></script> <![endif]-->
</head>

{% block foot %}
<!--口号-20121025 -->
<div class="slogan-container">
    <div class="slogan">
        <ul>
            <li class="s1"><a target="_blank" href="https://www.vmall.com/help/faq-934.html" rel="nofollow"
                              onclick="pushFootAdvertMsg('公司介绍','https://www.vmall.com/help/faq-934.html')"><i></i>百强企业&nbsp;品质保证</a>
            </li>
            <li class="s2"><a target="_blank" href="https://www.vmall.com/help/faq-834.html" rel="nofollow"
                              onclick="pushFootAdvertMsg('退换货政策','https://www.vmall.com/help/faq-834.html')"><i></i>7天退货&nbsp;15天换货</a>
            </li>
            <li class="s3">
                <a target="_blank" href="https://www.vmall.com/help/faq-4367.html" rel="nofollow"
                   onclick="pushFootAdvertMsg('物流帮助','https://www.vmall.com/help/faq-4367.html')"><i></i>
                    <span>48元起免运费</span>
                </a>
            </li>
            <li class="s4"><a target="_blank" href="http://consumer.huawei.com/cn/support/service-center/index.htm"
                              rel="nofollow"
                              onclick="pushFootAdvertMsg('服务中心','http://consumer.huawei.com/cn/support/service-center/index.htm')"><i></i>1000家维修网点&nbsp;全国联保</a>
            </li>
        </ul>
    </div>
</div><!--口号-end -->

<!-- 2017-02-15-服务-start -->
<div class="service-container">
    <div class="service">
        <div class="service-l fl">
            <dl class="s1">
                <dt>
                    <p class="title">购物相关</p>
                </dt>
                <dd>
                    <ol>
                        <li><a target="_blank" href="https://www.vmall.com/help/faq-4355.html" rel="nofollow">购物指南</a>
                        </li>
                        <li><a target="_blank" href="https://www.vmall.com/help/faq-4367.html" rel="nofollow">配送方式</a>
                        </li>
                        <li><a target="_blank" href="https://www.vmall.com/help/faq-4357.html" rel="nofollow">支付方式</a>
                        </li>
                        <li><a target="_blank" href="https://www.vmall.com/help/category-16.html"
                               rel="nofollow">常见问题</a></li>
                    </ol>
                </dd>
            </dl>
            <dl class="s2">
                <dt>
                    <p class="title">保修与退换货</p>
                </dt>
                <dd>
                    <ol>
                        <li><a target="_blank" href="https://www.vmall.com/help/faq-833.html" rel="nofollow">保修政策</a>
                        </li>
                        <li><a target="_blank" href="https://www.vmall.com/help/faq-834.html" rel="nofollow">退换货政策</a>
                        </li>
                        <li><a target="_blank" href="https://www.vmall.com/help/faq-5259.html" rel="nofollow">退换货流程</a>
                        </li>
                        <li><a target="_blank" href="http://consumer.huawei.com/cn/support/warranty-query/index.htm"
                               rel="nofollow">保修状态查询</a></li>
                        <li><a target="_blank" href="http://c-ver.huawei.com/web/" rel="nofollow">配件防伪查询</a></li>
                    </ol>
                </dd>
            </dl>
            <dl class="s3">
                <dt>
                    <p class="title">维修与技术支持</p></dt>
                <dd>
                    <ol>
                        <li><a target="_blank" href="http://consumer.huawei.com/cn/support/service-center/index.htm"
                               rel="nofollow">售后网点</a></li>
                        <li><a target="_blank" href="http://consumer.huawei.com/cn/support/reservation/index.htm"
                               rel="nofollow">预约维修</a></li>
                        <li><a target="_blank" href="http://consumer.huawei.com/cn/support/express-repair/index.htm"
                               rel="nofollow">手机寄修</a></li>
                        <li><a target="_blank" href="http://consumer.huawei.com/cn/support/sparepart-price/index.htm"
                               rel="nofollow">备件价格查询</a></li>
                        <li><a target="_blank" href="http://consumer.huawei.com/cn/support/door-to-door-service/"
                               rel="nofollow">上门服务</a></li>
                    </ol>
                </dd>
            </dl>
            <dl class="s4">
                <dt>
                    <p class="title">特色服务</p></dt>
                <dd>
                    <ol>
                        <li><a target="_blank" href="https://consumer.huawei.com/cn/support/distinguish/"
                               rel="nofollow">防伪查询</a></li>
                        <li><a target="_blank" href="https://www.vmall.com/order/tcsProductIndex"
                               rel="nofollow">补购保障</a></li>
                        <li><a target="_blank" href="https://www.vmall.com/recycle" rel="nofollow">以旧换新</a></li>
                        <li><a target="_blank" href="https://www.vmall.com/product/10086344499475.html#10086230774569"
                               rel="nofollow">礼品包装</a></li>
                    </ol>
                </dd>
            </dl>
            <dl class="s5">
                <dt>
                    <p class="title">关于我们</p></dt>
                <dd>
                    <ol>
                        <li><a target="_blank" href="https://www.huawei.com/cn/about-huawei/corporate-information"
                               rel="nofollow">公司介绍</a></li>
                        <li><a target="_blank" href="https://www.vmall.com/help/faq-939.html" rel="nofollow">华为商城简介</a>
                        </li>
                        <li><a target="_blank" href="https://www.vmall.com/offshop/hwshoplist" rel="nofollow">华为线下门店</a>
                        </li>
                        <li><a target="_blank" href="https://www.vmall.com/offshop/shoplist" rel="nofollow">荣耀线下门店</a>
                        </li>
                        <li><a target="_blank" href="https://www.vmall.com/job" rel="nofollow">诚征英才</a></li>
                        <li><a href="javascript:;" title="意见反馈" onclick="ec.survery.open();pushRightHelpMsg(3)">意见反馈</a>
                        </li>
                    </ol>
                </dd>
            </dl>
            <dl class="s6" id="serverlink">
                <dt class="relative">
                    <p class="title">友情链接</p>
                    <p class="button"><span class="btn btn-prev disabled"> &lt; </span><span
                            class="btn btn-next"> &gt; </span></p>
                </dt>
                <dd class="">
                    <div class="service-list clearfix" style="width: 1431px;">
                        <ol>
                            <li><a onclick="jump_link('http://www.huawei.com/cn/')" target="_blank"
                                   href="http://www.huawei.com/cn/">华为集团</a></li>
                            <li><a onclick="jump_link('https://consumer.huawei.com/cn/')" target="_blank"
                                   href="https://consumer.huawei.com/cn/">华为CBG官网</a></li>
                            <li><a onclick="jump_link('http://www.honor.cn/')" target="_blank"
                                   href="http://www.honor.cn/">荣耀官网</a></li>
                            <li><a onclick="jump_link('http://club.huawei.com/')" target="_blank"
                                   href="http://club.huawei.com/">花粉俱乐部</a></li>
                            <li><a onclick="jump_link('https://www.huaweicloud.com/')" target="_blank"
                                   href="https://www.huaweicloud.com/">华为云</a></li>
                        </ol>
                        <ol>
                            <li><a onclick="jump_link('https://www.vmall.com/shopdc/sitemap.html/')" target="_blank"
                                   href="https://www.vmall.com/shopdc/sitemap.html/">网站地图</a></li>
                            <li><a onclick="jump_link('http://app.hicloud.com/')" target="_blank"
                                   href="http://app.hicloud.com/">华为应用市场</a></li>
                            <li><a onclick="jump_link('http://www.wbiao.cn/')" target="_blank"
                                   href="http://www.wbiao.cn/">万表网</a></li>
                            <li><a onclick="jump_link('http://www.askci.com/')" target="_blank"
                                   href="http://www.askci.com/">中商情报网</a></li>
                            <li><a onclick="jump_link('http://www.shuame.com/')" target="_blank"
                                   href="http://www.shuame.com/">刷机精灵</a></li>
                        </ol>
                        <ol>
                            <li><a onclick="jump_link('https://www.vmall.com/')" target="_blank"
                                   href="https://www.vmall.com/">华为手机</a></li>
                            <li><a onclick="jump_link('http://www.17ugo.com/')" target="_blank"
                                   href="http://www.17ugo.com/">优购物官网</a></li>
                            <li><a onclick="jump_link('http://www.znds.com/')" target="_blank"
                                   href="http://www.znds.com/">智能电视</a></li>
                            <li><a onclick="jump_link('http://www.uc.cn/')" target="_blank" href="http://www.uc.cn/">UC浏览器</a>
                            </li>
                            <li><a onclick="jump_link('http://www.zol.com/')" target="_blank"
                                   href="http://www.zol.com/">中关村商城</a></li>
                        </ol>
                        <ol>
                            <li><a onclick="jump_link('http://www.kugou.com/')" target="_blank"
                                   href="http://www.kugou.com/">酷狗音乐</a></li>
                            <li><a onclick="jump_link('http://www.958shop.com/')" target="_blank"
                                   href="http://www.958shop.com/">百信手机网</a></li>
                            <li><a onclick="jump_link('http://www.cardbaobao.com/')" target="_blank"
                                   href="http://www.cardbaobao.com/">卡宝宝网</a></li>
                            <li><a onclick="jump_link('http://www.duote.com/')" target="_blank"
                                   href="http://www.duote.com/">多特软件下载</a></li>
                            <li><a onclick="jump_link('http://www.tongbu.com/')" target="_blank"
                                   href="http://www.tongbu.com/">同步助手</a></li>
                        </ol>
                        <ol>
                            <li><a onclick="jump_link('http://www.fengniao.com/')" target="_blank"
                                   href="http://www.fengniao.com/">蜂鸟摄影网</a></li>
                            <li><a onclick="jump_link('http://www.7po.com/')" target="_blank"
                                   href="http://www.7po.com/">奇珀论坛</a></li>
                            <li><a onclick="jump_link('http://www.homekoo.com/')" target="_blank"
                                   href="http://www.homekoo.com/">家具商城</a></li>
                            <li><a onclick="jump_link('http://www.paixie.net/')" target="_blank"
                                   href="http://www.paixie.net/">拍鞋网商城</a></li>
                            <li><a onclick="jump_link('http://www.obolee.com/')" target="_blank"
                                   href="http://www.obolee.com/">欧宝丽珠宝</a></li>
                        </ol>
                        <ol>
                            <li><a onclick="jump_link('http://www.xungou.com/')" target="_blank"
                                   href="http://www.xungou.com/">寻购网</a></li>
                            <li><a onclick="jump_link('http://www.yzmg.com/')" target="_blank"
                                   href="http://www.yzmg.com/">亿智蘑菇</a></li>
                            <li><a onclick="jump_link('http://www.wandoujia.com/')" target="_blank"
                                   href="http://www.wandoujia.com/">安卓市场</a></li>
                            <li><a onclick="jump_link('http://baike.1688.com/')" target="_blank"
                                   href="http://baike.1688.com/">阿里巴巴生意经</a></li>
                            <li><a onclick="jump_link('http://product.cnmo.com/')" target="_blank"
                                   href="http://product.cnmo.com/">手机大全</a></li>
                        </ol>
                        <ol>
                            <li><a onclick="jump_link('http://www.anzow.com/')" target="_blank"
                                   href="http://www.anzow.com/">安卓软件园</a></li>
                            <li><a onclick="jump_link('http://www.wpxap.com/')" target="_blank"
                                   href="http://www.wpxap.com/">智机论坛</a></li>
                            <li><a onclick="jump_link('http://www.eepw.com.cn/')" target="_blank"
                                   href="http://www.eepw.com.cn/">电子产品世界</a></li>
                            <li><a onclick="jump_link('http://www.liqucn.com/')" target="_blank"
                                   href="http://www.liqucn.com/">历趣网</a></li>
                            <li><a onclick="jump_link('http://www.51bi.com/')" target="_blank"
                                   href="http://www.51bi.com/">网购返利</a></li>
                        </ol>
                        <ol>
                            <li><a onclick="jump_link('http://www.apple110.com/')" target="_blank"
                                   href="http://www.apple110.com/">Apple110</a></li>
                            <li><a onclick="jump_link('http://www.91.com/')" target="_blank" href="http://www.91.com/">91手机门户网</a>
                            </li>
                            <li><a onclick="jump_link('http://www.ydss.cn/')" target="_blank"
                                   href="http://www.ydss.cn/">移动叔叔</a></li>
                            <li><a onclick="jump_link('http://www.outlets365.com/')" target="_blank"
                                   href="http://www.outlets365.com/">奥特莱斯</a></li>
                            <li><a onclick="jump_link('https://www.vmall.com/')" target="_blank"
                                   href="https://www.vmall.com/">荣耀Magic</a></li>
                        </ol>
                        <ol>
                            <li><a onclick="jump_link('http://car.ctrip.com/')" target="_blank"
                                   href="http://car.ctrip.com/">携程租车</a></li>
                            <li><a onclick="jump_link('http://www.hwtrip.com/')" target="_blank"
                                   href="http://www.hwtrip.com/">爱旅官网</a></li>
                        </ol>
                    </div>
                    <script type="text/javascript">
                        jump_link = function (url) {
                            var win = window.open(url, "_blank");
                            win.opener = null;
                        }
                    </script>
                </dd>
            </dl>
        </div>
        <div class="service-r fl">
            <dl class="s7">
                <dt>
                    <p class="title">400-088-6888</p></dt>
                <dd>
                    <ol>
                        <li><a>7x24小时客服热线（仅收市话费）</a></li>
                    </ol>
                </dd>
                <dd>
                    <a id="tools-nav-service-robotim-button" rel="nofollow" class="service-btn btn-line-primary"
                       href="https://celia.consumer.huawei.com/vmall/#/?businessUUID=902d812b8bdb44e089e34544fb5d77e2&amp;enterurl=https%3A%2F%2Fwww.vmall.com%2Fproduct%2F10086608835751.html&amp;k=1&amp;from=06&amp;remark=10086608835751"
                       target="_blank" style="display: block;"><i class=""></i> 在线客服</a>
                </dd>
            </dl>
            <div class="service-code clearfix">
                <h2>关注Vmall：</h2>
                <ul class="clearfix">
                    <li class="iconfont">
                        <a href="javascript:;"></a>
                        <div class="service-code-img"><img
                                src="{% static 'images/20181116180507506.jpg' %}">
                        </div>
                    </li>
                    <li class="iconfont">
                        <a target="_blank" href="https://www.toutiao.com/c/user/52373534151/#mid=52586950033"
                           rel="nofollow"></a>
                    </li>
                    <li class="iconfont">
                        <a target="_blank" href="https://weibo.com/shophuawei" rel="nofollow"></a>
                    </li>
                    <li class="iconfont">
                        <a target="_blank" href="https://club.huawei.com/" rel="nofollow"></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<!-- 2017-02-15-服务-end -->

<!--确认对话框-->
<div id="ec_ui_confirm" class="popup-area popup-define-area hide">
    <div class="b">
        <p id="ec_ui_confirm_msg"></p>
        <div class="popup-button-area"><a id="ec_ui_confirm_yes" href="javascript:;"
                                          class="button-action-yes"><span>是</span></a><a id="ec_ui_confirm_no"
                                                                                         href="javascript:;"
                                                                                         class="button-action-no"><span>否</span></a>
        </div>
    </div>
    <div class="f"><s class="icon-arrow-down"></s></div>
</div>

<!--新确认对话框-->
<div id="ec_ui_confirm_new" class="popup-area-new hide">
    <div class="b">
        <p id="ec_ui_confirm_new_msg"></p>
        <div class="popup-button-area"><a id="ec_ui_confirm_new_yes" href="javascript:;"
                                          class="box-button-style-1"><span>是</span></a><a id="ec_ui_confirm_new_no"
                                                                                          href="javascript:;"
                                                                                          class="box-button-style-1"><span>否</span></a>
        </div>
    </div>
    <div class="f"><s class="icon-arrow-down-new"></s></div>
</div>

<!--提示对话框-->
<div id="ec_ui_tips" class="popup-area popup-define-area hide">
    <div class="b">
        <p id="ec_ui_tips_msg" class="tac"></p>
        <div class="popup-button-area tac"><a id="ec_ui_tips_yes" href="javascript:;" class="button-action-yes"
                                              title="确定"><span>确定</span></a></div>
    </div>
    <div class="f"><s class="icon-arrow-down"></s></div>
</div>

<!-- 2018-10-26-悬浮工具栏-start -->
<div class="hungBar j-hungBar">
    <div class="hungBar-content">
        <a target="_blank" onclick="pushRightHelpMsg(1)" href="https://www.vmall.com/cart2" timetype="timestamp"
           class="hungBar-cart" title="购物车"><span style="display:none;"></span><i>购物车</i></a>
        <a target="_blank" id="tools-nav-service-robotim" onclick="pushRightHelpMsg(2)"
           href="https://celia.consumer.huawei.com/vmall/#/?businessUUID=902d812b8bdb44e089e34544fb5d77e2&amp;enterurl=https%3A%2F%2Fwww.vmall.com%2Fproduct%2F10086608835751.html&amp;k=1&amp;from=06&amp;remark=10086608835751"
           class="hungBar-service" title="在线客服" style="display: block;"><i>在线客服</i></a>
        <a id="tools-nav-survery" onclick="ec.survery.open();pushRightHelpMsg(3)" href="javascript:;"
           class="hungBar-feedback" title="意见反馈" style="display: block;"><i>意见反馈</i></a>
        <a href="javascript:;" class="hungBar-top" title="返回顶部" id="hungBar-top" style="display: none;"><i>返回顶部</i></a>
    </div>
</div>
<!-- 2018-10-26-悬浮工具栏-end -->

<!--意见反馈box-->
<div id="survery-box" class="ol_box_4 hide" style="width:600px;">
    <div class="box-ct">
        <div class="box-header">
            <div class="box-tl"></div>
            <div class="box-tc">
                <div class="box-tc1"></div>
                <div class="box-tc2"><a class="box-close" title="关闭" onclick="ec.survery.close();"
                                        href="javascript:;"></a><span class="box-title">意见反馈</span></div>
            </div>
            <div class="box-tr"></div>
        </div>
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr>
                <td class="box-cl"></td>
                <td class="box-cc">
                    <div class="box-content">
                        <!-- -表单-意见反馈-start -->
                        <div class="form-feedback-area">
                            <div class="b">
                                <div class="form-edit-area">
                                    <form autocomplete="off" id="form-feedback">
                                        <div class="form-edit-table">
                                            <table cellspacing="0" cellpadding="0" border="0">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <select name="type" id="surverytype">
                                                            <option selected="selected">请选择疑问类型</option>
                                                            <option>商品质量（手机、平板等软、硬件质量）</option>
                                                            <option>商品缺货</option>
                                                            <option>物流发货（发货快慢、发错货、送件人态度等）</option>
                                                            <option>售后服务（服务网点、维修、退换货、客服）</option>
                                                            <option>网站问题（商城功能失效、不好用等）</option>
                                                            <option>其他问题</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>您的问题与建议</b><span id="errMsg"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><textarea name="content" id="surveryContent" type="textarea"
                                                                  class="textarea"></textarea></td>
                                                </tr>
                                                <tr>
                                                    <td><b>您的联系方式</b></td>
                                                </tr>
                                                <tr>
                                                    <td><input type="text" name="contact" id="surveryContact"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="fl">
                                                            <input type="text" maxlength="4" class="identify"
                                                                   name="code" id="surveryVerify"
                                                                   onkeyup="if(this.value.length==4){ec.survery.validate();}">&nbsp;&nbsp;<img
                                                                id="surveryVerifyImg" onclick="ec.survery.reloadCode()"
                                                                class="vam" alt="验证码">&nbsp;&nbsp;&nbsp;&nbsp;<span
                                                                class="vam"><a class="u" href="javascript:;"
                                                                               onclick="ec.survery.reloadCode();">换一张</a></span>
                                                        </div>
                                                        <div class="fr">
                                                            <a href="javascript:;" onclick="ec.survery.submit();"
                                                               class="button-action-yes"><span>提交</span></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <input name="CsrfToken" type="hidden"
                                               value="FD8BD100AD9FCE5A8267CC1E8E68A5D9D695118DE669ACFB"></form>
                                </div>
                            </div>
                        </div>
                        <!-- -表单-意见反馈-end -->
                    </div>
                </td>
                <td class="box-cr"></td>
            </tr>
            </tbody>
        </table>
        <div class="box-bottom">
            <div class="box-bl"></div>
            <div class="box-bc"></div>
            <div class="box-br"></div>
        </div>
    </div>
</div>

<div id="globleParameter" class="hide" context="" stylepath="https://res8.vmallres.com/20190808/css"
     scriptpath="https://res9.vmallres.com/20190808/js" imagepath="https://res.vmallres.com/20190808/images"
     mediapath="https://res.vmallres.com/pimages/"></div>

<form action="/order/confirmcart" id="miniCartForm" method="post"><input name="CsrfToken" type="hidden"
                                                                         value="FD8BD100AD9FCE5A8267CC1E8E68A5D9D695118DE669ACFB">
</form>
<!-- 2017-02-15-底部-start -->
<div class="footer-container">
    <div class="footer">
        <div class="footer-warrant-area clearfix"><p class="footer-warrant-logo fl"><a
                href="https://www.vmall.com/"><img
                src="{% static 'images/wLelYbpMVWbj9Xpaa5Fk.png' %}"
                title="华为商城"></a></p>
            <div class="fl">
                <ul class="footer-warrant-link">
                    <li><a href="https://www.huawei.com/cn/">华为集团</a></li>
                    <li><a href="https://consumer.huawei.com/cn/">华为CBG官网</a></li>
                    <li><a href="http://www.honor.cn/">荣耀官网</a></li>
                    <li><a href="https://club.huawei.com/">花粉俱乐部</a></li>
                    <li><a href="http://appstore.huawei.com/">华为应用市场</a></li>
                    <li><a href="https://emui.huawei.com/cn/">EMUI</a></li>
                    <li><a href="https://cloud.huawei.com/">华为终端云空间</a></li>
                    <li><a href="https://developer.huawei.com/cn/">开发者联盟</a></li>
                    <li><a href="https://m.vmall.com/">华为商城手机版</a></li>
                    <li><a href="https://www.vmall.com/shopdc/sitemap.html">网站地图</a></li>
                </ul>
                <a href="https://www.vmall.com/help/faq-2635.html" rel="nofollow" target="_blank" title="隐私声明">隐私声明</a>
                <a href="https://www.vmall.com/help/faq-778.html" rel="nofollow" target="_blank" title="服务协议">服务协议</a>
                <a href="https://www.vmall.com/help/faq-11810.html" rel="nofollow" target="_blank" title="COOKIES">COOKIES</a>
                Copyright © 2012-2019 华为终端有限公司 版权所有 <a href="http://beian.miit.gov.cn/"
                                                       target="_blank">粤ICP备19015064号</a><em>|</em><a
                    href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44190002003939" target="_blank">粤公网安备
                44190002003939号</a><br>增值电信业务经营许可证：粤B2-20190762<em>|</em>备案主体编号：44201919072182
            </div>
            <p class="fr footer-warrant-img"><a class="fl"
                                                href="http://privacy.truste.com/privacy-seal/validation?rid=81be9ca0-c821-4e2c-ad4b-ff7cff98f75f&amp;lang=zh-cn"
                                                rel="nofollow" target="_blank"><img alt="TRUSTe隐私认证"
                                                                                    src="{% static 'images/20180522101715775.jpg' %}"
                                                                                    title="TRUSTe隐私认证"></a> <a
                    class="fl" href="https://res.vmallres.com/pimages///sale/2019-04/Vhy8y3yxVJXg0FE74dh0.png"
                    target="_blank"><img alt="电子营业执照"
                                         src="{% static 'images/20160226162415360.png' %}"
                                         title="电子营业执照"></a></p></div>
    </div>
</div>
<!-- 2017-02-15-底部-end -->
<!--<script src="https://res9.vmallres.com/20190808/js/echannel/slider.min.js?20170426"></script>-->
<!--<script src="https://res9.vmallres.com/20190808/js/echannel/swiper.min.js?20170426"></script>-->
<script>
    new Slider({//友情链接
        objid: '#serverlink',
        listname: '.service-list',
        listitem: 'ol',
        shownum: 1
    }).init();

    ec.load("ec.box", {loadType: "lazy"});
    /**
     *功能：给鼠标移动到s-dropdown上面的时候，记得给他多添加一个hover类样式
     *目的是兼容ie6
     *@author 李峰
     */
    $(function () {
        $(".s-dropdown").hover(function () {
            var jTpl = $(this).attr('data-tpl');
            if (jTpl && $(this).find('.b').length < 1) {
                $(this).append($('#' + jTpl).val());
                $(this).removeAttr('data-tpl');
            }
            $(this).addClass("hover");
        }, function () {
            $(this).removeClass("hover");
        });
        var maxcolor = $('.top-banner-max').find('p').children('a').css("background-color");
        var mincolor = $('.top-banner-min').find('p').children('a').css("background-color");

        $('.top-banner-max').css({"background-color": maxcolor, overflow: "hidden"});
        $('.top-banner-min').css({"background-color": mincolor, overflow: "hidden"});
    });

    //显示全球导航选择层
    function showSelectRegion() {
        var box = new ec.box($("#selectRegion-tips").val(),
            {
                boxid: "region-select-box",
                boxclass: "ol_box_4",
                title: "Please select your country or region",
                width: 700,
                showButton: false,
                autoPosition: false,
                onopen: function (box) {
                },
                onok: function (box) {
                },
                oncancel: function (box) {
                    box.close();
                    $(".ol_box_mask").remove();
                },
                onclose: function (box) {
                    $(".ol_box_mask").remove();
                }
            });

        box.open();

        $(".box-title").css("font-size", "24px");
        $("#region-select-box").css("height", "auto");
        $(".ol_box_mask").click(function () {
            box.close();
        });

        $(".box-header").unbind("mousemove");
        $(".box-header").unbind("mousedown");

        var divTop = document.getElementById("region-select-box").offsetTop;
        $("#region-select-box").mousedown(function (e) {
            var e = e || window.event;
            var region = document.getElementById("region-select-box");

            var leftX = e.clientX - region.offsetLeft;
            var topY = e.clientY - region.offsetTop;
            $("#region-select-box").mousemove(function (event) {
                var e = event || window.event;
                var left = e.clientX - leftX;
                var top = e.clientY - topY;

                if (e.clientX - leftX < 20 - region.offsetWidth) {
                    left = 20 - region.offsetWidth;
                }
                if (e.clientY - topY < 20 - region.offsetHeight) {
                    top = 20 - region.offsetHeight;
                }

                if (e.clientY - topY + 20 >= $(window).height()) {
                    top = $(window).height() - 20;
                }
                if (e.clientX - leftX + 20 >= $(window).width()) {
                    left = $(window).width() - 20;
                }
                $("#region-select-box").css({"left": left, "top": top});
                divTop = top;

            });
        });
        $("#region-select-box").mouseup(function () {
            $("#region-select-box").unbind("mousemove");
        });
        $(window).scroll(function () {
            $("#region-select-box").offset({top: divTop});
        });
    }

    ec.load("ec.slider", {
        loadType: "lazy",
        callback: function () {
            $("#ec-erweima").slider({
                width: 91, //必须
                height: 96, //必须
                style: 1,                    //1显示分页，2只显示左右箭头,3两者都显示
                pause: 120000,           //间隔时间
                auto: true
            });
        }
    });

    ec.ready(function () {
        try {
            ec.minicart.readyContent();
            ec.minicart.microCartTpl = new ec.template($('#micro-cart-tpl').val());
            var $miniCart = $('#header-toolbar-minicart-content');
            $('#header-toolbar-minicart').hover(function () {
                if (ec.checkBrowerIE()) {
                    var act = (document.activeElement || {}).id;
                    if (act == 'search-kw') {
                        $("#search-kw").blur();
                    }
                }

                $(this).unbind("mouseenter");
                ec.minicart.content();
            }, function () {
                $(this).bind("mouseenter", function () {
                    if (ec.checkBrowerIE()) {
                        var act = (document.activeElement || {}).id;
                        if (act == 'search-kw') {
                            $("#search-kw").blur();
                        }
                    }

                    $(this).unbind("mouseenter");
                    ec.minicart.content();
                });
            });

            $('#up_loginName-hover').hover(function () {
                if (ec.checkBrowerIE()) {
                    var act = (document.activeElement || {}).id;
                    if (act == 'search-kw') {
                        $("#search-kw").blur();
                    }
                }

                $(this).unbind("mouseenter");
            }, function () {
                $(this).bind("mouseenter", function () {
                    if (ec.checkBrowerIE()) {
                        var act = (document.activeElement || {}).id;
                        if (act == 'search-kw') {
                            $("#search-kw").blur();
                        }
                    }

                    $(this).unbind("mouseenter");
                });
            });

        } catch (err) {
            // console.log(err);
        }

    });
    // 更新购物车数字
    $(function () {
        $('.j-hungBar .hungBar-cart').hover(function () {
            ec.minicart.updateMiniCartNum();
        });
    });

    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        } else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();

    function pushMyOrderMsg() {
        ec.account.afterLogin(function () {
            ec.redirectTo("https://www.vmall.com/member/order?t=1568269281306timestamp");
        });
        ec.dapClick(300000301, {
            "click": "1"
        });
    }

    function pushMyCartMsg() {
        ec.dapClick(300000401, {
            "click": "1"
        });
    }


    function pushCartProMsg(skuId, url, location) {
        ec.dapClick(300000402, {
            "SKUID": skuId,
            "URL": url,
            "location": location,
            "click": "1"
        });
    }

    function pushFootAdvertMsg(name, url) {
        ec.dapClick(300000501, {
            "name": name,
            "URL": url,
            "click": "1"
        });
    }

    $(".fl").find("dd").find("a").bind("click", function () {
        var HREF = "";
        HREF = this.href;
        var name = this.innerHTML;
        if (HREF == null || HREF == "") {
            return;
        }
        if (this.id == "tools-nav-service-robotim-button") {
            name = "在线客服";
        }
        if (this.className == "service-btn btn-report") {
            name = "不良信息举报";
        }
        pushFootAdvertMsg(name, HREF);
    });


    $('.footer-warrant-area.clearfix a').click(function () {
        var dapData = {
            "URL": $(this).attr("href"),
            "click": "1"
        };
        if ($(this).find('img').length > 0) {
            dapData.ADID = $(this).find("img").attr("src");
        } else {
            dapData.name = $(this).text();
        }
        ec.dapClick(300000502, dapData);
    });

    function pushRightHelpMsg(index) {
        var buttonName = ['', '购物车', '在线客服', '意见反馈'][index];
        ec.dapClick(300000601, {
            "buttonName": buttonName,
            "click": "1",
            'index': index
        });
    }

    jump = function (url, obj) {
        if (typeof (obj.html()) != "undefined" && obj.html() != null && obj.html() != "") {
            pushFootAdvertMsg($(this).html(), url);
        }
        var win = ec.openWindow(url);
        win.opener = null;
    }

    function pushProRelationMsg(productId, column) {
        ec.dapClick(300020601, {
            "productId": productId,
            "row": "1",
            "column": column,
            "click": "1"
        });
    }

    function pushProHotMsg(skuCode) {
        ec.dapClick(300020701, {
            "SKUCode": skuCode,
            "click": "1"
        });
    }

    $('#serverlink a').each(function () {
        var $a = $(this);
        var url = $a.attr('onclick') || '';
        url = url.toString();
        var m = url.match(/jump_link\('([^']+)'\)/);
        if (m && m[1]) {
            url = m[1];
            $a.attr('target', '_blank').attr('href', url);
        }
    });
    jump_link = function (url) {
        return;
    }
</script>

<iframe style="display: none;" src="javascript:false"></iframe>
<script src="{% static 'js/dmpa-min.js' %}" async="" id="dmpa"></script>
<script src="{% static 'js/vmallcsrf.js' %}"></script>
<div id="ec_mask" class="ec_mask"
     style="opacity: 0.2; background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 0px; height: 0px; visibility: hidden;"></div>
<div id="ec_ui_loading" class="ec_ui_loading" style="display: none;"></div>


{% endblock foot %}
</body>

</html>